*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .color-box{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .color-box .color{
    width: 250px;
    height: 250px;
    background-color: green;
    border: 10px solid #222;
}
.container .color-box .hexCode{
    font-size: 18px;
    padding: 20px 0 10px;
}
.container .color-box button{
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 20px;
    border: 1px solid white;
    background-color: #222;
    color: white;
    padding: 10px 30px;
    transition: .5s all ease-in-out;
}
.container .color-box button:hover{
    color: #222;
    background-color: white;
}
.container .color-box .css-content{
    color: rgb(1, 131, 131);
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.container .color-box .css-content h3{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 250px;
}
.container .color-box .css-content h3 input{
    padding: 0;
    width: 100px;
    height: 30px;
    font-size: 17px;
    color: rgb(1, 131, 131);
    border: none;
    outline: none;
}